@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat";
}

.childrenClass::-webkit-scrollbar {
  display: none;
}

input,input:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(22 78 99 / var(--tw-bg-opacity));
  border: none !important; 
  color:white !important;
  outline: none !important;
  margin-left: 10px;
}